<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Account Management</title>
        <link rel="stylesheet" href="/css/Account.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="dist/sweetalert.css" />
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
        <script src="/js/Account.js"></script>
        <script src="/js/moment.js"></script>
    </head>
    <body>
        <input type="checkbox" id="check" />
        <header>
            <label for="check">
                <i class="fas fa-bars" id="sidebar_btn"></i>
            </label>
            <div class="left_area">
                <h3>NT <span>K</span></h3>
            </div>
            <div class="right_area">
                <span style="color: #fff" class="Name"></span>
                <a href="http://localhost:3000/Login" onclick="removeItem()" class="logout_btn"><i class="fas fa-power-off"></i></a>
            </div>
        </header>
        <div class="sidebar">
            <center id="img">
                <h4 id="h4"></h4>
            </center>
            <a href="/Manage"><i class="fas fa-shopping-basket"></i> <span>Product Shop</span></a>
            <a href="/Customer"><i class="fas fa-user-circle"></i> <span>Customer Management</span></a>
            <a href="/Sumarry"><i class="fas fa-table"></i> <span>Customer Summary</span></a>
            <a href="/Account"><i class="fas fa-user-alt"></i> <span>Account Information</span></a>
            <a href="/Chat"><i class="fas fa-comment"></i> <span>Staff Communication</span></a>
        </div>
        <div class="content">
            <h1>Account Management</h1>
            <table id="Table">
                <tr>
                    <th>Account name</th>
                    <th>Password</th>
                    <th>Identity Card</th>
                    <th>Role</th>
                    <th></th>
                </tr>
                <tbody id="Account"></tbody>
            </table>
            <h1>Manage Promo Codes</h1>
            <table id="Table">
                <tr>
                    <th>Code Id</th>
                    <th>Content</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                <tbody id="Table-Promo"></tbody>
            </table>
        </div>
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="Close()">&times;</span>
                <h1>Change Password</h1>
                <div>
                    <label>Old Password: </label>
                    <input type="hidden" id="SOS" />
                    <input id="Old" type="password" placeholder="Enter Old Password........" />
                </div>
                <div>
                    <label>New Password: </label>
                    <input id="New" type="password" placeholder="Enter New Password........" />
                </div>
                <div>
                    <label>Repeat Password: </label>
                    <input id="Repeat" type="password" placeholder="Enter Repeat Password........" />
                </div>
                <button id="Change" style="padding: 3px 10px; margin-left: 90%; background-color: white; color: black; outline: none; cursor: pointer; border: none; text-transform: uppercase; font-weight: 500" onclick="ChangePassword()">Save</button>
            </div>
        </div>
        <div id="Modal-Add" class="modal">
            <div class="modal-content">
                <span class="close" onclick="Close()">&times;</span>
                <h1>Manage Promo Code</h1>
                <div>
                    <label>Code Promo: </label>
                    <input type="hidden" id="SOS" />
                    <input id="Code-Id" type="text" placeholder="Enter Code........" />
                </div>
                <div>
                    <label>Content Promo: </label>
                    <input id="Code-Content" type="text" placeholder="Enter Content........" />
                </div>
                <div>
                    <label>Value Promo: </label>
                    <input id="Code-Value" type="number" placeholder="Enter Value........" />
                </div>
                <button id="Change" style="padding: 3px 10px; margin-left: 90%; background-color: white; color: black; outline: none; cursor: pointer; border: none; text-transform: uppercase; font-weight: 500" onclick="InsertPromo()">Add</button>
            </div>
        </div>
        <div id="Modal-Update" class="modal">
            <div class="modal-content">
                <span class="close" onclick="Close()">&times;</span>
                <h1>Manage Promo Code</h1>
                <div>
                    <label>Code Promo: </label>
                    <input id="Update-Id" type="text" placeholder="Enter Code........" readonly />
                </div>
                <div>
                    <label>Content Promo: </label>
                    <input id="Update-Content" type="text" placeholder="Enter Content........" />
                </div>
                <div>
                    <label>Value Promo: </label>
                    <input id="Update-Value" type="number" placeholder="Enter Value........" />
                </div>
                <button id="Change" style="padding: 3px 10px; margin-left: 90%; background-color: white; color: black; outline: none; cursor: pointer; border: none; text-transform: uppercase; font-weight: 500" onclick="Update()">Save</button>
            </div>
        </div>
    </body>
</html>
