<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/shoppingcart.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
        <script src="/js/moment.js"></script>
        <script src="/js/shoppingcart.js"></script>
        <title>Document</title>
    </head>
    <body>
        <header>
            <div class="top-bar">
                <div class="container">
                    <div class="top-bar-left">
                        <div class="header-message">Welcome to our online store!</div>
                    </div>
                    <div class="top-bar-right" id="control-top">
                        <a href="/Login" id="control-link">Login or Register</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="main-header">
                    <div class="row-header">
                        <div class="header-logo">
                            <a href="/home"> <img src="/images/logo.png" alt="img" /> </a>
                        </div>
                        <div class="header-search">
                            <form action="/shopping/search" class="form-search" method="post">
                                <div class="form-content">
                                    <div class="search-inner">
                                        <input type="text" class="search-input" placeholder="Search here" name="itemName" />
                                    </div>
                                    <div class="search-category">
                                        <select name="catelogy" id="" class="category-select">
                                            <option value="">Accessories</option>
                                            <option value="id">Id</option>
                                            <option value="name">Name</option>
                                        </select>
                                    </div>
                                    <div class="search-btn">
                                        <button class="btn-search" type="submit">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="header-control">
                            <div class="header-control-cart">
                                <a href="/shoppingcart" class="control-link"><i class="fa-solid fa-cart-shopping"></i></a>
                            </div>
                            <div class="header-control-user">
                                <a href="/user" class="control-link" id="link-page-user"><i class="fa-regular fa-user"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="container">
                    <div class="header-nav-wapper">
                        <div class="nav-wapper-category"></div>
                        <div class="nav-wapper-main">
                            <ul>
                                <li class="nav-link"><a href="/home">HOME</a></li>
                                <li class="nav-link"><a href="/Shopping">SHOP</a></li>
                                <li class="nav-link"><a href="/Contract">CONTRACT</a></li>
                                <li class="nav-link"><a href="/about">ABOUT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div id="myModal" class="modal">
            <div class="modal__layout">
                <div class="modal-title">
                    <h2>Checkout</h2>
                    <i id="btnExit" class="fas fa-times"></i>
                </div>
                <div class="modal__content">
                    <div class="modal__left">
                        <div class="modal__content-form">
                            <div class="modal__content-label"><i class="fas fa-map-marker-alt icon-input"></i>Delivery address</div>
                            <div class="modal__content-input">
                                <input class="modal__content-inputvalue" type="text" id="diaChiGH" />
                            </div>
                        </div>
                        <div class="modal__content-form">
                            <div class="modal__content-label"><i class="far fa-credit-card icon-input"></i>Number Phone</div>
                            <div class="modal__content-input">
                                <input class="modal__content-inputvalue" type="text" id="soDT" />
                            </div>
                        </div>
                    </div>
                    <div class="modal__right">
                        <div class="modal__content-form">
                            <div class="modal__content-label"><i class="fas fa-user icon-input"></i>FullName</div>
                            <div class="modal__content-input">
                                <input class="modal__content-inputvalue" type="text" id="tenKH" />
                            </div>
                        </div>
                        <div class="modal__content-form">
                            <div class="modal__content-label"><i class="fas fa-address-card icon-input"></i>Identity card</div>
                            <div class="modal__content-input">
                                <input class="modal__content-inputvalue" type="text" disabled id="CMND" />
                            </div>
                        </div>
                        <div class="modal__content-form modal__totalPrice"><strong>Total: </strong>$<label id="tongTien"></label></div>
                    </div>
                </div>
                <div class="modal-control">
                    <button class="btn-modal" id="btnCancel">Cancel</button>
                    <button class="btn-modal btn-ok-modal" id="btnOk">Checkout</button>
                </div>
            </div>
        </div>
        <main>
            <div class="container">
                <div class="sub-title">
                    Home >>
                    <span>Shopping Cart</span>
                </div>
                <h3 class="big-title">Shopping Cart</h3>
                <div class="table-content">
                    <table>
                        <thead>
                            <tr>
                                <th class="thead-img">IMAGE</th>
                                <th class="thead-name">PRODUCT</th>
                                <th>PRICE</th>
                                <th>QUANTITY</th>
                                <th>TOTAL</th>
                                <th>REMOVE</th>
                            </tr>
                        </thead>
                        <tbody id="listSP"></tbody>
                    </table>
                </div>
                <div class="action-cart">
                    <div class="container-action">
                        <div class="cart-voucher">
                            Coupon Code:
                            <input type="text" class="coupon-input" placeholder="Promotion code here" id="coupon-code" />
                            <input type="hidden" class="coupon-input" value="null" placeholder="Promotion code here" id="coupon-code-hidden" />
                            <button class="btn-check-coupon" id="btn-check-coupon" onclick="checkCoupon()">Check Coupon</button>
                            <span class="popup-coupon" id="popup-coupon">No discount code found</span>
                        </div>
                        <div class="cart-total-price">
                            <div>Total Price: <span id="cart-total-price">0</span>$</div>
                            <div>Discount: <span id="discount-price">0</span>%</div>
                            <div>Total Bill: <span id="total-bill">0</span>$</div>
                        </div>
                    </div>
                </div>
                <div class="control-cart">
                    <div class="block-remove-all">
                        <button class="btn-remove-all" id="btn-remove-all" onclick="removeAll()">Remove All</button>
                    </div>
                    <div class="block-return-shop">
                        <a href="/home"><button class="btn-return-shop" id="btn-return-shop">Continue Shopping</button></a>
                    </div>
                    <div class="block-checkout"><button class="btn-checkout" id="btn-checkout" onclick="loadModal()">Checkout</button></div>
                </div>
            </div>
        </main>
        <footer class="footer-main">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-top">
                        <div class="footer-top-block footer-quickmenu">
                            <h2 class="footer-title">Quick Menu</h2>
                            <ul class="footer-menu">
                                <li class="footer-menu-item">
                                    <a href="#">New arrivals</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Life style</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Accents</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Tables</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Dining</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top-block footer-newletter">
                            <h3 class="footer-title">NewsLetter</h3>
                            <div class="newsletter-desc">Sign up for our free video course and urban garden inspiration</div>
                            <form class="footer-email-block">
                                <input type="text" class="footer-input-email" placeholder="Your email letter" />
                                <button class="footer-btn-email">Subscribe</button>
                            </form>
                        </div>
                        <div class="footer-top-block footer-information">
                            <h2 class="footer-title">Information</h2>
                            <ul class="footer-menu">
                                <li class="footer-menu-item">
                                    <a href="#">FAQs</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Track Order</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Delivery</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Contact Us</a>
                                </li>
                                <li class="footer-menu-item">
                                    <a href="#">Return</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer-end">
                        <div class="footer-social">
                            <ul class="social-menu">
                                <li class="social-menu-link"><i class="fa-brands fa-facebook-f"></i></li>
                                <li class="social-menu-link"><i class="fa-brands fa-twitter"></i></li>
                                <li class="social-menu-link"><i class="fa-brands fa-instagram"></i></li>
                            </ul>
                        </div>
                        <div class="footer-copyright">Copyright © 2020 Stelina . All rights reserved</div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
