body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: url(../images/pexels-photo-9781548.jpeg) no-repeat;
  background-position: center;
  background-size: cover;
}
/* header */

header {
  position: fixed;
  background: #22242a;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1000000;
}

.left_area h3 {
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span {
  color: #19b3d3;
}
.right_area span {
  padding: 5px;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  float: right;
  margin-right: 5%;
}
.logout_btn {
  padding: 5px;
  background: #19b3d3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover {
  background: #0b87a6;
}

.sidebar {
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4 {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar a {
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover {
  background: #19b3d3;
}

.sidebar i {
  padding-right: 10px;
}

label #sidebar_btn {
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover {
  color: #19b3d3;
}

#check:checked ~ .sidebar {
  left: -190px;
}

#check:checked ~ .sidebar a span {
  display: none;
}

#check:checked ~ .sidebar a {
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}
/* QL Du lich */
.content {
  z-index: 888;
  margin-left: 250px;
  transition: 0.5s;
  overflow: hidden;
}

#check:checked ~ .content {
  margin-left: 60px;
}

#check {
  display: none;
}
.content .h1 {
  margin-top: 7%;
  text-align: center;
  color: black;
  font-weight: bold;
  transition: 1s ease-in-out;
  animation: dichuyen 2s linear forwards;
  width: 100%;
}
.content .Controll {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.content .Controll #Value-Search {
  position: absolute;
  width: 5%;
  padding: 0.5% 0;
  left: 56%;
  border: none;
  font-weight: 700;
}
.content .Controll #Value-Search option {
  font-weight: 700;
}
.content .Controll #Value-Search:hover {
  border: none;
}
.content .Controll .Input-Search {
  width: 30%;
  padding: 0.5% 0;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
}
.content .Controll .Input-Search::after {
  border: none;
}
.content .Controll button {
  margin-left: 3%;
  background-color: #ab8e66;
  text-align: center;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

ul.Customer {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-left: 25px;
  box-sizing: border-box;
}
ul.Customer li {
  flex-basis: 15%;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  padding: 0 15px;
}
ul.Customer li .Customer-middle {
  text-align: center;
  text-transform: uppercase;
  color: white;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 3%;
}
ul.Customer li .Customer-middle img {
  display: block;
}
ul.Customer li img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
ul.Customer li .Customer-info {
  text-align: center;
  margin-top: 10%;
}
ul.Customer li .Customer-info a {
  width: 100%;
  display: block;
  text-decoration: none;
  margin-top: 2%;
}
ul.Customer li .Customer-info .Customer-Name {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
  color: black;
}
ul.Products li .Customer-info .Customer-Date,
.Customer-Sex {
  display: block;
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin-bottom: 4px;
  line-height: 100%;
}
ul.Customer li .Customer-info .Customer-Level {
  font-size: 15px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 4px;
  color: #c19d3f;
}
ul.Customer li .Customer-info .button-view {
  margin-bottom: 3%;
  background-color: #82c3c5;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  padding: 5%;
  border-radius: 10%;
}
/* Detail Profile */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999999999999999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.grid__header {
  border-bottom: 1px solid rgb(189, 189, 189);
  line-height: 35px;
  padding-bottom: 10px;
}
.grid__header-note {
  font-style: italic;
  color: gray;
}
.grid__form-labelchange {
  margin-left: 20px;
  color: var(--buttoncolor);
  cursor: pointer;
  line-height: 18px;
}
.grid__form {
  display: flex;
  text-align: center;
  padding: 15px 0;
}
.grid__form-label {
  min-width: 200px;
  align-self: center;
}
.grid__form-labellock {
  margin-left: 30%;
}
.grid__form-input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  text-align: left;
  border: none;
  outline-color: #47a0ff;
}
.grid__form-radio {
  text-align: left;
  display: flex;
}
.form__radio {
  vertical-align: middle;
  margin: auto;
  margin-right: 10px;
  margin-left: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
