* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --text_color1: #fff;
    --text_color2: #666;
    --main_color: #ab8e66;
    --background_color: #ffffff;
    --button_color: #000;
    --footer_color: #f3f3f3;
    --placeholder_color: #888;
    --star-color: #ffb933;
}
body {
    font-family: "Jost", sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #666;
    overflow-x: hidden;
    position: relative;
}
a {
    text-decoration: none;
    color: var(--button_color);
}
.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Header top-bar -----------------------------------------------------------------------------*/
.top-bar {
    background-color: var(--main_color);
    padding: 10px 0;
    color: #fff;
}
.container {
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.top-bar .container {
    display: flex;
    justify-content: space-between;
}
.top-bar-left,
.top-bar-right {
    line-height: 48px;
    display: block;
    color: var(--text_color1);
}
.top-bar-right a {
    color: var(--text_color1);
}
.btn-logOut {
    padding: 7px 15px;
    background-color: #eeeeee;
    border-radius: 30px;
    border: none;
    color: var(--main_color);
    cursor: pointer;
    outline: none;
    margin-left: 10px;
}
.btn-logOut:hover {
    background-color: var(--placeholder_color);
    color: #f1f1f1;
}

/* Header main */
.main-header {
    padding: 50px 0;
}
.row-header {
    display: flex;
    justify-content: space-between;
}

/* Header search */
.header-search {
    width: 60%;
    padding: 0px 20px;
}
.form-content {
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid #eeeeee;
    align-items: center;
    height: 43px;
}
.search-inner {
    width: 65%;
}
.search-category {
    width: 25%;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    position: relative;
}
.category-select {
    width: 100%;
    height: 43px;
    padding: 7px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--placeholder_color);
    font-family: inherit;
    font-size: inherit;
    appearance: none;
}
.search-category::before {
    content: "v";
    position: absolute;
    right: 20px;
    top: 15%;
    color: var(--placeholder_color);
    font-size: 15px;
}
.category-select option {
    padding: 5px 10px;
}
.search-btn {
    width: 10%;
}
.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 7px 20px;
}
.btn-search {
    width: 100%;
    height: 43px;
    border: none;
    background-color: var(--main_color);
    cursor: pointer;
}
.btn-search .fa-magnifying-glass {
    color: var(--background_color);
    font-size: 20px;
}
/* Header control */
.header-control {
    display: flex;
    align-items: center;
}
.control-link {
    color: var(--text_color2);
}
.header-control-cart {
    font-size: 23px;
    padding: 0 15px;
}
.header-control-user {
    padding-left: 15px;
    font-size: 23px;
}

/* Header nav */
.header-nav {
    background-color: var(--footer_color);
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-link {
    display: inline-block;
    padding: 18px 25px;
}
.nav-link a {
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Jost";
    color: #000;
}

/* Footer -------------------------------------------------------------------------------------------------- */
.footer-main {
    background-color: var(--footer_color);
    margin-top: 40px;
}
.footer-content {
    padding-top: 40px;
    padding-bottom: 20px;
}
.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-block {
    text-align: center;
    width: 33.33%;
}
.footer-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    line-height: 24px;
    position: relative;
    margin-top: 10px;
    text-transform: uppercase;
    font-family: "Jost";
    color: #000000;
}
.footer-menu-item {
    color: #191919;
    line-height: 26px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-newletter h3 {
    margin-bottom: 20px;
}
.newsletter-desc {
    padding-bottom: 20px;
    max-width: 70%;
    margin: 0 auto;
}
.footer-input-email {
    width: 100%;
    background-color: #fff;
    color: var(--text_color2);
    font-size: 15px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #eeeeee;
    padding: 7px 20px;
}
.footer-input-email:focus {
    border-color: #ab8e66;
}
.footer-btn-email {
    color: #fff;
    width: 100%;
    background: #ab8e66;
    height: 56px;
    line-height: 56px;
    border-radius: 30px;
    letter-spacing: 0.1em;
    cursor: pointer;
    padding: 0px 20px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    text-transform: uppercase;
}
.footer-social {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.social-menu {
    display: inline-block;
    margin: 0 auto;
}
.social-menu-link {
    display: inline-block;
    font-size: 26px;
    color: #555555;
    padding: 0 20px;
}
.footer-copyright {
    color: #888888;
    padding: 5px 0;
    text-align: center;
}

/* Main content ------------------------------------------------------------------------------------------ */
.sub-title {
    padding: 35px 0;
    font-weight: 500;
    font-size: 15px;
}
.sub-title span {
    color: #222;
    font-size: 15px;
}
.big-title {
    font-size: 20px;
    letter-spacing: 0;
    font-weight: 600;
    color: #222;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/* Table ---------------------------------------------------------------------------------------------------- */
.table-content {
    overflow: auto;
}
table {
    width: 100%;
    border: 0.5px solid var(--placeholder_color);
    border-collapse: collapse;
    border-top: none;
}
table tbody tr {
    border-top: 0.5px solid var(--placeholder_color);
}
table thead tr {
    border-top: 0.5px solid var(--placeholder_color);
    color: #000;
}
table tbody td {
    text-align: center;
    padding: 20px 20px;
    align-items: center;
    line-height: 24px;
}
table thead th {
    font-size: 14px;
    font-weight: 600;
    padding: 20px 20px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
}
.product-img {
    display: flex;
    align-items: center;
}
.product-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.product-td-name {
    color: #333333;
    width: 35%;
    font-size: 16px;
}
.product-name {
    font-weight: 500;
    font-size: 18px;
}
.product-size {
    color: var(--placeholder_color);
}
.product-td-count {
    width: 22%;
    align-items: center;
}
.product-count {
    padding: 0;
}
.btn-count {
    font-size: 23px;
    cursor: pointer;
    color: #ab8e66;
    margin: 0 auto;
}
.btn-count:hover {
    color: var(--text_color2);
}
.count-container {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
.product-td-price {
    width: 20%;
    font-size: 20px;
    color: #111;
    font-weight: 500;
}
.product-td-delete .fa-trash-can {
    color: #ab8e66;
    cursor: pointer;
}
.product-td-delete .fa-trash-can:hover {
    color: red;
}
.popup-inventory {
    position: absolute;
    bottom: -30px;
    left: 28%;
    color: red;
    display: none;
}

/* Action cart -------------------------------------------------------------------------------------------------- */
.container-action {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
    color: #000;
}
.cart-voucher {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    align-items: center;
    position: relative;
}
.cart-total-price {
    color: #333333;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
}
.cart-total-price span {
    font-size: 22px;
}
.coupon-input {
    min-width: 230px;
    color: #888888;
    height: 42px;
    /* border-radius: 30px; */
    outline: none;
    padding: 0px 15px;
    border: 1px solid var(--placeholder_color);
}
.btn-check-coupon {
    background-color: var(--footer_color);
    border: 1px solid var(--placeholder_color);
    color: #000;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: ease 0.3s;
    margin-left: 10px;
}
.btn-check-coupon:hover {
    background-color: var(--main_color);
    color: #eeeeee;
}
.popup-coupon {
    position: absolute;
    bottom: -40px;
    left: 30%;
    color: red;
    display: none;
}
/* Control cart */
.control-cart {
    display: flex;
    justify-content: right;
}
.btn-return-shop,
.btn-checkout,
.btn-remove-all {
    background: transparent;
    color: #333333;
    border: 1px solid var(--placeholder_color);
    margin-left: 15px;
    border-radius: 30px;
    cursor: pointer;
    padding: 13px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: ease 0.3s;
    font-size: 14px;
}
.btn-checkout:hover,
.btn-return-shop:hover,
.btn-remove-all:hover {
    background-color: var(--main_color);
    color: #e9e9e9;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}
.modal__layout {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 60%;
    border-radius: 4px;
    animation: ShowModal linear 0.4s forwards;
    padding: 25px;
}
.modal-title {
    display: flex;
    justify-content: space-between;
}
.modal-title h2 {
    color: var(--main_color);
}
.fa-times {
    font-size: 20px;
    cursor: pointer;
    color: #888;
}
.fa-times:hover {
    color: red;
}
.modal__content {
    display: flex;
    margin-top: 20px;
}
.modal__left {
    flex: 1;
}
.modal__right {
    flex: 1;
    margin-left: 30px;
}
.modal__content-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.icon-input {
    margin-right: 10px;
    color: var(--main_color);
    font-size: 25px;
    vertical-align: middle;
}
.modal__content-form {
    margin-bottom: 20px;
}
.modal__content-inputvalue {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid gray;
    outline-color: #47a0ff;
}
.modal-control {
    text-align: right;
}
.modal__totalPrice {
    text-align: right;
    font-size: 18px;
}
@keyframes ShowModal {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn-modal {
    border: none;
    background-color: rgb(100, 99, 99);
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    margin-left: 16px;
    min-width: 75px;
    cursor: pointer;
}
.btn-modal:hover {
    background-color: rgb(150, 150, 150);
}
.btn-ok-modal {
    background-color: var(--main_color);
}
.btn-ok-modal:hover {
    background-color: var(--star-color);
}
/* Menu User */
.menu__li-user {
    cursor: pointer;
}
.menu__li-user:hover .menu__user {
    display: block;
}
.menu__user {
    position: absolute;
    right: 0;
    background-color: white;
    margin-top: 5px;
    border-radius: 4px;
    display: none;
}
.menu__user:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 15px;
    top: -10px;
}
.btn__user {
    background-color: white;
    width: 100%;
    border: none;
    padding: 10px 10px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}
.btn__user:hover {
    background-color: rgb(170, 170, 170);
    color: white;
}
.fa-user {
    margin-right: 5px;
}
